body {
  color: black;
  width: 75%;
  margin: auto;
  background-color: #6d4c41;
}
#products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  /* width: 75%; */
}
h1 {
  text-align: center;
  display: inline;
}

img {
  max-width: 100%;
}
.blue {
  color: darkblue;
}

#panier {
  background-color: orange;
  border: solid;
  padding: 0.5rem 1rem;
  border-radius: 25rem;
}
