body {
  --primary: #6d4c41;
  --primary-dark: #eee6d8;
  color: white;
}
.wrapper {
  margin: auto;
  max-width: 800px;
}

h2 {
  font-size: 2rem;
  white-space: nowrap;
  color: #454f40;
}
nav * {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  color: white;
}
.btn {
  background-color: grey;
  padding: 15px;
  margin-left: 5px;
}
.btn:hover {
  background-color: black;
  padding: 15px;
}
.menu {
  background-color: var(--primary-dark);
  box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, 0.75);
}

#products a {
  color: white;
}
.product {
  display: flex;
}
.textProduct {
  text-align: center;
  vertical-align: middle;
  width: 40%;
}

#panier {
  border: solid;
  padding: 0.5rem 1rem;
  border-radius: 25rem;
}
.tab-content {
  /* background-color: var(--primary); */
  background-color: white;
}

.introProduit {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
}

.description {
  background-color: white;
  color: black;
}

.description p {
  padding: 25px;
}

input[type="text"]:focus {
  background-color: lightblue;
}
.logo {
  width: 100px;
}
.picture {
  width: 60%;
  min-width: 40%;
}
.price {
  font-weight: bold;
}
