body {
  color: black;
  width: 75%;
  margin: auto;
  
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  /* width: 75%; */
}
h1 {
  text-align: center;
}

img {
  max-width: 100%;
}
