body {
  --btn-color: #f3e8f0;
  --btn-color-dark: #eee6d8;
  --primary-dark: #d6ceb8;
  /* background: rgba(22, 21, 21, 0.527); */
  /* background-size: 16px 16px; */
}

.wrapper {
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 20px 2px #888888;
  border: solid grey 1px;
}

nav * {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  color: black;
}
.btn {
  margin: 25px;
  box-shadow: 0px 0px 20px 2px #888888;
  background-color: #f3e8f0;
  border-radius: 10%;
  padding: 15px;
  /* margin-top: 20px; */
}
.btn:hover {
  background-color: var(--btn-color-dark);
}

.logo {
  width: 200px;
}
#menu__cart {
  margin-right: 0;
}
.picture {
  width: 60%;
  min-width: 40%;
}
.tab-content {
  margin: auto;
  width: 100%;
}
.product {
  margin: auto;
  width: 90%;
}
.product img {
  width: 100%;
}
table {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid black;
}
#cart_content,
#confirm_content {
  padding: 1rem;
}
.total {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}
.produit {
  color: white;
  font-size: 1.2rem;
}
@media (max-width: 690px) {
  .wrap-contact100 {
    padding: 72px 15px 65px 15px;
  }
}
@media only screen and (min-width: 600px) {
  .wrap-contact100 {
    width: 570px;
  }
}
@media only screen and (min-width: 685px) {
  .wrap-contact100 {
    width: 670px;
  }

  /* width: 520px; */
}
@media only screen and (min-width: 950px) {
  .wrap-contact100 {
    width: 900px;
  }
}
