.tabs::after {
  display: table;
  content: " ";
  clear: both;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.fade {
  opacity: 0;
  transition: opacity 0.01s;
}
.fade.in {
  opacity: 1;
  transition: opacity 1s;
}
