.area {
  background: yellow;
  display: block;
  height: 25px;
  opacity: 0.5;
  position: absolute;
  width: 75%;
  top: 545px;
}
#area2 {
  top: 775px;
  background: red;
}
#area1:hover,
#area2:hover {
  opacity: 0.2;
}
#ligne1 {
  background: greenyellow;
  top: 565px;
  right: calc((100vh / 2) - 250px);
  width: 500px;
  transition: transform 2000ms;
  transform: scaleX(0);
  transform-origin: 0% 50%;
}

#area1:hover + #ligne1 {
  transform: scaleX(1);
}
