.wrapper {
  margin: auto;
  margin-top: 10px;
  // padding: 20px;
  box-shadow: 0px 0px 20px 2px $wrapper__bg;
  width: 380px;
  max-width: 100%;
  background: $wrapper__bg;
  border-radius: 10px;
  overflow: hidden;
}
