$btn-color: #f3e8f0;
$btn-color-dark: #eee6d8;
$primary-dark: #d6ceb8;
$shadow: #888888;
$wrapper__bg: rgba(107, 106, 106, 0.383);
$body__bg1: #d38045;
$body__bg2: #915eee;
$body__bg__img: "../img/assorted-black-and-gray-cameras-1983038\ -\ Photo\ de\ Alex\ Andrews\ provenant\ de\ Pexels.jpg";
