.btn {
  margin: 25px;
  box-shadow: 0px 0px 20px 2px black;
  background-color: #f3e8f0;
  border-radius: 10%;
  padding: 15px;
  &:hover {
    background-color: $btn-color-dark;
    box-shadow: 0px 0px 20px 2px $shadow;
  }
}