footer {
  background-color: $background;
  color: $text;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
  & a {
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1.5rem;
  }
}

.wrapper {
  /* Rajout de padding 
  laissant l'espace necessaire pour le footer */
  padding-bottom: 6rem;
}
