// @import "./vendors/normalize.min.css";
@import "./utils/variables";
@import "./composants/btn";
@import "./layouts/nav";
@import "./layouts/polaroid";
@import "./layouts/tabs";
@import "./layouts/form";
@import "./layouts/product";
@import "./composants/_wrapper";
@import "./utils/_tabs";


.background {
  background: -webkit-linear-gradient(45deg, $body__bg1, $body__bg2),
    url($body__bg__img) no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  min-height: 100vh;
}

.logo {
  width: 200px;
  align-self: center;
}
#menu__cart {
  margin-right: 0;
}
.picture {
  width: 60%;
  min-width: 40%;
}
.tab-content {
  margin: auto;
  width: 100%;
}
.confirm {
  color: white;
}

@media (min-width: 600px) {
  .wrapper {
    width: 380px;
  }
}
@media only screen and (min-width: 750px) {
  .wrapper {
    width: 750px;
  }
}
@media only screen and (min-width: 1100px) {
  .wrapper {
    width: 1110px;
  }
}
