@mixin menu-colors($font, $fontH1, $bgcolor, $main-color, $secondary-color) {
  background-color: $bgcolor;
  div.menu {
    font-family: $font;
    h1 {
      font-family: $fontH1;
      background-image: linear-gradient(90deg, $main-color, $secondary-color);
      background-clip: initial;
      -webkit-background-clip: text;

      color: transparent;
    }
  }
  div.progress {
    &__bar {
      background-color: $main-color;
    }
  }
}
