$background: #599a87;
$text: #fdca57;

@media all {
  @import "./Layout/header";
  @import "./Composants/btn";

  html {
    font-size: 62.5%;
  }
  .wrapper {
    background-color: white;
    width: 100%;
    display: block;
    margin: auto;
    min-height: 100vh;
  }

  .menus {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    & img {
      margin: 1.5rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 200px;
      transition: transform 400ms;
      transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
      &:hover {
        transform: scale(1.15);
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 0;
    padding: 2rem;
  }

  .soon {
    display: block;
    margin: auto;
  }

  a {
    text-decoration: none;
    color: $text;
  }
  /* faire secouer le texte  */
  @import "./Composants/shake";
  .wiggle {
    margin: 1rem;
    padding: 0.5rem;
    &:hover {
      /* début de l'animation, durée de 0.5s */
      animation: shake 0.5s;
      animation-iteration-count: infinite;
    }
  }
  @import "./Pages/menu";
}
@import "./Layout/footer";

@media (min-width: 600px) {
  html {
    font-size: 80%;
  }
  .menus {
    margin: auto;
    max-width: 1200px;
    & img {
      width: 400px;
    }
  }
}
@media (min-width: 720px) {
  html {
    font-size: 100%;
  }
}
