<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link id="favicon" rel="icon" type="image/png" sizes="32x32" href="../images/camera.jpg" />
    <title>Orinoco</title>
  </head>

  <body class="antialiased bg-black">
    <header class="lg:px-16 px-6 bg-white flex flex-wrap items-center lg:py-0 py-2">
      <div class="flex-1 flex justify-between items-center">
        <a href="#">
          <img alt="logo orinoco" id="logo" src="../images/logo.svg" />
        </a>
      </div>

      <label for="menu-toggle" class="pointer-cursor lg:hidden block">
        <svg
          class="fill-current text-gray-900"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
        >
          <title>menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </label>
      <input class="hidden" type="checkbox" id="menu-toggle" />

      <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
        <nav>
          <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
            <li>
              <a
                class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400"
                href="#"
                >Features
              </a>
            </li>
            <li>
              <a
                class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400"
                href="#"
                >Pricing
              </a>
            </li>
            <li>
              <a
                class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400"
                href="#"
                >Documentation
              </a>
            </li>
            <li>
              <a
                class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 lg:mb-0 mb-2"
                href="#"
              >
                Support
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="py-20 hero" id="hero">
      <div class="container mx-auto px-6 bg-black bg-opacity-50 mx-16 rounded-lg">
        <h2 class="text-4xl font-bold mb-2 text-white" id="hero_h2">Titre par default</h2>
        <h3 class="text-2xl mb-8 text-gray-200">
          Votre déclencheur de sourire personnalisé
        </h3>
        <button
          class="mb-8 bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider"
        >
          En savoir plus
        </button>
      </div>
    </div>
    <!-- fin hero -->
    <div class="page flex flex-wrap">
      <div class="w-full sm:w-1/2 md:w-1/3">
        <img src="https://picsum.photos/id/1025/600/400" alt="" class="px-2"/>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3">
        <img src="https://picsum.photos/id/1020/600/400" alt="" class="px-2" />
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3">
        <img src="https://picsum.photos/id/1076/600/400" alt="" class="px-2" />
      </div>
      </div>
    </div>
    <!-- fin page principale -->
    <!-- debut page produit -->
    <div class="page flex flex-col lg:flex-row">
      <div class="lg:w-2/3 text-white lg:pl-4 px-4 py-4">
        <img src="https://picsum.photos/id/1020/600/400" alt="" />
      </div>
      <div class="flex-none lg:w-1/3 lg:pr-4 px-4 py-4">
        <h2>Page produit</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores ut quibusdam fugiat
          fugit, eaque aut culpa commodi. Quidem at omnis fugiat debitis pariatur doloribus sapiente
          impedit earum, quam, beatae in placeat recusandae labore officia? Tempore, esse earum.
          Molestias quos quis officiis enim quod cupiditate necessitatibus optio. Dolorum eos dolore
          adipisci, impedit quas quis saepe iure earum quod nemo culpa sint atque unde esse
          architecto amet iusto quae nam, nulla repellat voluptatum maxime! Ipsa, distinctio eius
          itaque numquam excepturi fuga facere totam nemo natus iusto provident asperiores
          praesentium ea inventore id accusamus maiores neque ratione a omnis nam minus! Dolores,
          ratione?
        </p>
      </div>
    </div>

    <!-- fin page produit -->
    <!-- page panier -->

    <div class="page flex flex-col lg:flex-row">
      <div class="lg:w-1/2 text-white lg:pl-4 lg:order-2">
        <h2>Votre Commande</h2>
        <table class="table-auto text-lg align-middle w-full">
          <thead>
            <tr>
              <th class="px-4 py-2">Nom</th>
              <th class="px-4 py-2">Option</th>
              <th class="px-4 py-2">Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tableau_commande">Zurss 50S</td>
              <td class="tableau_commande">35mm 1.4</td>
              <td class="tableau_commande tableau_prix">499,00€</td>
            </tr>
            <tr>
              <td class="tableau_commande">Franck JS 105</td>
              <td class="tableau_commande">25mm 4.5</td>
              <td class="tableau_commande tableau_prix">2099,00€</td>
            </tr>
          </tbody>
        </table>
        <h3 class="text-right">Total 2598,00€ TTC</h3>
      </div>
      <div class="flex-none lg:w-1/2 lg:pr-4">
        <form class="items-center bg-white17 px-4 py-4 h-full">
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-first-name"
              >
                Prénom
              </label>

              <input class="form_text_input" id="grid-first-name" type="text" placeholder="Jane" />
              <p class="text-red-500 text-xs italic">Please fill out this field.</p>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-last-name"
              >
                Nom
              </label>
              <input class="form_text_input" id="grid-last-name" type="text" placeholder="Doe" />
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-email"
              >
                email
              </label>
              <input
                class="form_text_input"
                id="grid-email"
                type="text"
                placeholder="doe@email.com"
              />
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-address"
              >
                Adresse
              </label>
              <input
                class="form_text_input"
                id="grid-address"
                type="text"
                placeholder="42, rue de la station"
              />
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-zip"
              >
                Code postal
              </label>
              <input class="form_text_input" id="grid-zip" type="text" placeholder="90210" />
            </div>

            <div class="w-full md:w-2/3 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-city"
              >
                Ville
              </label>
              <input class="form_text_input" id="grid-city" type="text" placeholder="Albuquerque" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- fin de la page commande -->
    <div class="page">
      <h2 class="text-center">commande bien prise en compte</h2>

      <p>Récapitulatif :</p>
      <ul>
        <li>numero de commande : 24585940-a5a8-11ea-846a-555a65c250df</li>
        <li>e-mail :edsa@ff.com</li>
        <li>Nom : Dumas Ludo</li>
        <li>adresse : 20 rue 34324 Sannois</li>
      </ul>

      <p class="text-right">merci pour votre commande</p>
    </div>

    <!--  scroll menu
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-state"
      >
        State
      </label>
      <div class="relative">
        <select
          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-state"
        >
          <option>New Mexico</option>
          <option>Missouri</option>
          <option>Texas</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
            />
          </svg>
        </div>
      </div>
    </div> -->
  </body>
</html>
