@tailwind base;
body {
  @apply text-white;
}
h1 {
  @apply text-2xl font-medium mb-2;
}
h2 {
  @apply text-white;
}

.hero {
  background-size: cover;
  min-height: 75vh;
}

@tailwind components;

#menu-toggle:checked + #menu {
  display: block;
}

.page {
  @apply max-w-6xl  bg-gray17 rounded-lg mx-auto mx-16 my-16 p-8;
}
.form_text_input {
  @apply appearance-none bg-transparent border-b border-b-2 border-gray-500  w-full text-gray-700 mr-3 py-1 px-2 leading-tight;
}
.form_text_input:focus {
  @apply outline-none;
}
.tableau_commande {
  @apply border-b text-left px-2 py-2;
}

.tableau_prix {
  @apply text-right;
}
@tailwind utilities;

/* exemple pour du responsive */
@responsive {
  .hero_md {
    background-size: 100% auto;
  }
  .hero_xl {
    background-size: 75vh;
  }
}
