@media all {
  html {
    font-size: 62.5%;
    --text: black;
    --primary: #69d6f6;
    --secondary: #566e75;
    --primary-background: #fafafa;
    background-color: white;
  }

  body {
    font-family: "Roboto", sans-serif;
  }

  .header {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
  }

  .name {
    color: var(--text);
    font-weight: 300;
  }
  .wrapper {
    padding: 0 1rem 0 1rem;
    font-size: 1.6rem;
  }

  .aside {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .main {
    background-color: var(--primary-background);
    flex: 2;
  }
  .footer {
    text-align: center;
  }
  .profilePicture {
    border-radius: 50%;
    border: solid;
    margin-top: 2rem;
    align-items: center;
    width: 150px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .center {
    margin-right: auto;
    margin-left: auto;
  }

  h1 {
    font-size: 6rem;
    color: var(--primary);
    text-transform: uppercase;
    font-weight: normal;
    width: 100%;
    display: block;
    text-align: center;
  }

  h2 {
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: solid 0.2rem var(--primary);
    color: var(--text);
    width: 100%;
    display: block;
    font-size: 3.2rem;
    line-height: 3.7rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  .aside h2 {
    border-bottom: none;
    letter-spacing: -0.045em;
    text-decoration: none;
    color: var(--primary);
    background-color: var(--secondary);
    display: block;
    text-align: center;
    padding: 0.5rem 0rem;
  }

  h3:only-child {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .main i {
    color: var(--primary);
    padding-right: 1.5rem;
  }
  .contact h2 {
    margin-top: 0rem;
  }
  .droite li:first-child {
    list-style: none;
  }
  aside h3 {
    padding: 0 2rem;
  }
  p {
    font-size: 1.6rem;
    padding: 0 2rem;
  }
  li {
    padding-right: 2rem;
  }
  .gauche:first-child li {
    list-style: katakana;
  }
  .love {
    color: red;
    font-size: 1.8rem;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  /* Catch Images Missing "alt" Attribute */
  img[alt=""],
  img:not([alt]) {
    border: 5px dashed red;
  }
}
@media (min-width: 1190px) {
  h1 {
    text-align: left;
  }
  .wrapper {
    width: 1190px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100vh;
  }
  .header {
    flex-direction: row-reverse;
  }
  .aside {
    flex: 1;
  }
  .main {
    flex: 2;
    padding-left: 1.5rem;
  }
  .section {
    display: flex;
    flex-direction: row-reverse;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gauche {
    width: 25%;
  }
  .droite {
    width: 59%;
  }
  p {
    padding: 0 1.3rem;
  }
}
